Repository hypoxia125/Modules-Enhanced, pull requests merged in 2023-11, with the labels that each got.

#45 Add Module: Lightning Storm
  addons/effects/$PBOPREFIX$
  addons/effects/CfgAmmo.hpp
  addons/effects/CfgEventHandlers.hpp
  addons/effects/CfgPatches.hpp
  addons/effects/XEH_PREP.sqf
  addons/effects/XEH_postInit.sqf
  addons/effects/XEH_preInit.sqf
  addons/effects/XEH_preStart.sqf
  addons/effects/config.cpp
  addons/effects/functions/fnc_lightningStrike.sqf
  addons/effects/functions/script_component.hpp
  addons/effects/script_component.hpp
  addons/effects/stringtable.xml
  addons/modules/CfgPatches.hpp
  addons/modules/CfgVehicles.hpp
  addons/modules/XEH_PREP.sqf
  addons/modules/functions/fnc_lightningStorm.sqf
  addons/modules/functions/fnc_moduleLightningStorm.sqf
  addons/modules/modules/moduleLightningStorm.hpp
  addons/modules/stringtable.xml
Labels: Add Module

#47 Feature addmodule mpsync
  addons/modules/CfgPatches.hpp
  addons/modules/CfgVehicles.hpp
  addons/modules/XEH_PREP.sqf
  addons/modules/functions/fnc_moduleMPSync.sqf
  addons/modules/modules/moduleMPSync.hpp
  addons/modules/stringtable.xml
  addons/mpsync/$PBOPREFIX$
  addons/mpsync/CfgEventHandlers.hpp
  addons/mpsync/CfgPatches.hpp
  addons/mpsync/XEH_PREP.sqf
  addons/mpsync/XEH_postInit.sqf
  addons/mpsync/XEH_preInit.sqf
  addons/mpsync/XEH_preStart.sqf
  addons/mpsync/config.cpp
  addons/mpsync/functions/fnc_blankScreen.sqf
  addons/mpsync/functions/fnc_clientConditionals.sqf
  addons/mpsync/functions/fnc_getRespawnConfig.sqf
  addons/mpsync/functions/fnc_init.sqf
  addons/mpsync/functions/fnc_initClient.sqf
  addons/mpsync/functions/fnc_initServer.sqf
  addons/mpsync/functions/fnc_muteClient.sqf
  addons/mpsync/functions/fnc_playerLMB.sqf
  addons/mpsync/functions/script_component.hpp
  addons/mpsync/script_component.hpp
  addons/mpsync/stringtable.xml
  workshop/Description.md
Labels: Add Module

#48 Move particle based module functions to Effects Addon
  .hemtt/project.toml
  addons/effects/XEH_PREP.sqf
  addons/effects/functions/fnc_createFire.sqf
  addons/effects/functions/fnc_createLightcone.sqf
  addons/effects/functions/fnc_createLightpoint.sqf
  addons/effects/functions/fnc_createSmoke.sqf
  addons/modules/functions/fnc_moduleEffectFire.sqf
  addons/modules/functions/fnc_moduleEffectLightpoint.sqf
  addons/modules/functions/fnc_moduleEffectSmoke.sqf
Labels: Add Module

#49 Beta - v0.6.0
  .hemtt/project.toml
  addons/effects/XEH_PREP.sqf
  addons/effects/functions/fnc_createFire.sqf
  addons/effects/functions/fnc_createLightcone.sqf
  addons/effects/functions/fnc_createLightpoint.sqf
  addons/effects/functions/fnc_createSmoke.sqf
  addons/modules/CfgPatches.hpp
  addons/modules/CfgVehicles.hpp
  addons/modules/XEH_PREP.sqf
  addons/modules/functions/fnc_moduleEffectFire.sqf
  addons/modules/functions/fnc_moduleEffectLightpoint.sqf
  addons/modules/functions/fnc_moduleEffectSmoke.sqf
  addons/modules/functions/fnc_moduleMPSync.sqf
  addons/modules/modules/moduleMPSync.hpp
  addons/modules/stringtable.xml
  addons/mpsync/$PBOPREFIX$
  addons/mpsync/CfgEventHandlers.hpp
  addons/mpsync/CfgPatches.hpp
  addons/mpsync/XEH_PREP.sqf
  addons/mpsync/XEH_postInit.sqf
  addons/mpsync/XEH_preInit.sqf
  addons/mpsync/XEH_preStart.sqf
  addons/mpsync/config.cpp
  addons/mpsync/functions/fnc_blankScreen.sqf
  addons/mpsync/functions/fnc_clientConditionals.sqf
  addons/mpsync/functions/fnc_getRespawnConfig.sqf
  addons/mpsync/functions/fnc_init.sqf
  addons/mpsync/functions/fnc_initClient.sqf
  addons/mpsync/functions/fnc_initServer.sqf
  addons/mpsync/functions/fnc_muteClient.sqf
  addons/mpsync/functions/fnc_playerLMB.sqf
  addons/mpsync/functions/script_component.hpp
  addons/mpsync/script_component.hpp
  addons/mpsync/stringtable.xml
  workshop/Description.md
Labels: Add Module, Patch

#50 - Replaced \n in structured text with &lt;br/&gt;
  addons/modules/stringtable.xml
Labels: Documentation

#53 Beta Patch v0.6.1
  .hemtt/project.toml
  addons/modules/functions/fnc_moduleRegisterTeleporter.sqf
  addons/modules/modules/moduleLightningStorm.hpp
  addons/modules/stringtable.xml
  addons/teleporter/functions/fnc_createTeleporterAction.sqf
  addons/teleporter/functions/fnc_teleportMenu_onLoad.sqf
Labels: Patch

#55 Beta Version v0.6.3
  addons/common/XEH_PREP.hpp
  addons/effects/XEH_PREP.hpp
  addons/error/XEH_PREP.hpp
  addons/main/XEH_PREP.hpp
  addons/main/script_version.hpp
  addons/modules/XEH_PREP.hpp
  addons/mpsync/XEH_PREP.hpp
  addons/teleporter/XEH_PREP.hpp
  workshop/Description.md
Labels: Patch

#56 Beta Version v0.6.4
  addons/common/XEH_preInit.sqf
  addons/common/XEH_preStart.sqf
  addons/effects/XEH_preInit.sqf
  addons/error/XEH_preInit.sqf
  addons/main/XEH_preInit.sqf
  addons/main/script_version.hpp
  addons/modules/XEH_preInit.sqf
  addons/modules/functions/fnc_trapInventoryAddEventHandler.sqf
  addons/mpsync/XEH_preInit.sqf
  addons/teleporter/XEH_preInit.sqf
  workshop/Description.md
Labels: Patch

#58 Add Feature - Communication Jammer
  addons/communicationjammer/$PBOPREFIX$
  addons/communicationjammer/CfgEventHandlers.hpp
  addons/communicationjammer/CfgPatches.hpp
  addons/communicationjammer/XEH_PREP.hpp
  addons/communicationjammer/XEH_postInit.sqf
  addons/communicationjammer/XEH_preInit.sqf
  addons/communicationjammer/XEH_preStart.sqf
  addons/communicationjammer/config.cpp
  addons/communicationjammer/functions/fnc_initCommJammer.sqf
  addons/communicationjammer/functions/script_component.hpp
  addons/communicationjammer/script_component.hpp
  addons/communicationjammer/stringtable.xml
  addons/main/script_version.hpp
  addons/modules/CfgVehicles.hpp
  addons/modules/XEH_PREP.hpp
  addons/modules/functions/fnc_moduleCommunicationJammer.sqf
  addons/modules/modules/moduleCommunicationJammer.hpp
  addons/modules/stringtable.xml
  include/a3/ui_f/hpp/defineCommonColors.inc
  include/a3/ui_f/hpp/defineCommonGrids.inc
  include/a3/ui_f/hpp/defineDIKCodes.inc
  include/a3/ui_f/hpp/defineResincl.inc
  include/a3/ui_f/hpp/defineResinclDesign.inc
Labels: Add Module

#59 Beta Version v0.7.0
  addons/communicationjammer/$PBOPREFIX$
  addons/communicationjammer/CfgEventHandlers.hpp
  addons/communicationjammer/CfgPatches.hpp
  addons/communicationjammer/XEH_PREP.hpp
  addons/communicationjammer/XEH_postInit.sqf
  addons/communicationjammer/XEH_preInit.sqf
  addons/communicationjammer/XEH_preStart.sqf
  addons/communicationjammer/config.cpp
  addons/communicationjammer/functions/fnc_initCommJammer.sqf
  addons/communicationjammer/functions/script_component.hpp
  addons/communicationjammer/script_component.hpp
  addons/communicationjammer/stringtable.xml
  addons/main/script_version.hpp
  addons/modules/CfgVehicles.hpp
  addons/modules/XEH_PREP.hpp
  addons/modules/functions/fnc_moduleCommunicationJammer.sqf
  addons/modules/modules/moduleCommunicationJammer.hpp
  addons/modules/stringtable.xml
  include/a3/ui_f/hpp/defineCommonColors.inc
  include/a3/ui_f/hpp/defineCommonGrids.inc
  include/a3/ui_f/hpp/defineDIKCodes.inc
  include/a3/ui_f/hpp/defineResincl.inc
  include/a3/ui_f/hpp/defineResinclDesign.inc
Labels: Add Module
